AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 4
SeparateDefinitionBlocks: Always
